:root {
    --form-radius: 15px;
    --color-primary: #ff3b3b;
    --color-text: #494f55;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: #e8e8e8;
}

@font-face {
    font-family: "ArgentumSans";
    src: url("../fonts/ArgentumSans.ttf");
}

h1,
h2,
h3 {
    font-family: "ArgentumSans", sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
}

p {
    font-family: "Open Sans", sans-serif;
    color: var(--color-text);
    padding: 0;
    margin: 0;
}
