.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.centered h1 {
    color: var(--color-primary);
    margin-bottom: 15px;
}

.centered p {
    font-size: 1.2rem;
    color: var(--color-text);
}

#force-redir {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 40px;
    color: var(--color-text);
}

.container a {
    text-decoration: underline;
}

.container a:hover {
    color: var(--color-primary);
    cursor: pointer;
}
